body{
	background-image: url('img2.png');
}
h1{
	margin-bottom:0px;
	padding:30px;
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	background-image: url('image2.jpg');
	color: black;
	text-align: center;
}
.box1{
	background-color: black;
	color: white;
	margin-top:0px;
	padding:10px;
	text-align: center;
	font: times new roman;
	font-size: 20px;
	font-weight: normal;

}

.selector{
	text-align: center;

}

option:nth-child(even){
	background-color: #dddddd;
	font-family: all;
}
.submit{
	background-color: white;
}
.demo1{
	font: times new roman;
	font-size: 20px;
	margin-top: 30px;
	text-align: center;

}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
